version: 2
updates:
  # Enable version updates for npm
  - package-ecosystem: 'npm'
    directory: '/'
    schedule:
      interval: 'weekly'
      day: 'monday'
    open-pull-requests-limit: 10
    reviewers:
      - 'contentful/team-developer-experience'
    labels:
      - 'dependencies'
    commit-message:
      prefix: 'chore'
      include: 'scope'
    ignore:
      - dependency-name: husky
        versions:
          - '>=5.0.0'
      - dependency-name: 'semantic-release'
        versions:
          - '>=23.0.0'
      # Pure ESM package. Remove from ignore when ESM is supported
      # https://github.com/chalk/chalk/releases/tag/v5.0.0
      - dependency-name: chalk
        versions:
          - '>=5.0.0'
      # Pure ESM package. Remove from ignore when ESM is supported
      # https://github.com/SBoudrias/Inquirer.js/releases/tag/inquirer%409.0.0
      - dependency-name: inquirer
        versions:
          - '>=9.0.0'
      # Pure ESM package. Remove from ignore when ESM is supported
      # https://github.com/uuidjs/uuid/releases/tag/v12.0.0
      - dependency-name: uuid
        versions:
          - '>=12.0.0'

  # Enable version updates for GitHub Actions
  - package-ecosystem: 'github-actions'
    directory: '/'
    schedule:
      interval: 'weekly'
      day: 'monday'
    open-pull-requests-limit: 5
    labels:
      - 'dependencies'
      - 'github-actions'
    commit-message:
      prefix: 'ci'
