lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

/build
node_modules
npm-debug.log
/coverage
/package-lock.json
.envrc
/.nyc_output
/coverage.lcov
/built
.vscode
contentful-migration-cli-*.tgz
