language: node_js
node_js:
  - '12'

sudo: false

env:
  - NODE_ENV=test

script:
  - npm run lint
  - npm run build-dev
  - npm run test-typescript-declaration
  - npm run coverage-report

cache:
  directories:
    - ~/.npm
notifications:
  email: false
after_success:
  - npm run travis-deploy-once "npm run semantic-release"
branches:
  except:
    - /^v\d+\.\d+\.\d+$/
