
version: 2
jobs:
  check:
    docker:
      - image: circleci/node:12
    steps:
      - checkout
      - run:
          name: Install dependencies
          command: npm install
      - run:
          name: Lint
          command: |
            npm run lint
      - run:
          name: Build
          command: |
            npm run build
      - run:
          name: Check Delaration
          command: |
            npm run test-typescript-declaration
  test-unit:
    docker:
      - image: circleci/node:12
    steps:
      - checkout
      - run:
          name: Install dependencies
          command: npm install
      - run:
          name: Run Unit Tests
          command: |
            npm run test-unit

  test-integration:
    docker:
      - image: circleci/node:12
    steps:
      - checkout
      - run:
          name: Install dependencies
          command: npm install
      - run:
          name: Run Unit Tests
          command: |
            npm run test-integration

  test-e2e:
    docker:
      - image: circleci/node:12
    steps:
      - checkout
      - run:
          name: Install dependencies
          command: npm install
      - run:
          name: Run Unit Tests
          command: |
            npm run test-e2e

  release:
    docker:
      - image: circleci/node:12
    steps:
      - checkout
      - run: npm install
      - run: npm run semantic-release

workflows:
  version: 2
  test-and-release:
    jobs:
      - check
      - test-unit
      - test-integration
      - test-e2e
      - release:
          requires:
            - check
            - test-unit
            - test-integration
            - test-e2e
