version: 2.1

orbs:
  vault: contentful/vault@1
  node: circleci/node@5.1.0

jobs:
  check:
    docker:
      - image: 'cimg/base:current'
    steps:
      - checkout
      - node/install:
          node-version: '18'
      - node/install-packages
      - run:
          name: Lint
          command: |
            npm run lint
      - run:
          name: Build
          command: |
            npm run build
      - run:
          name: Check Declaration
          command: |
            npm run test:typescript-declaration
  test-unit:
    docker:
      - image: 'cimg/base:current'
    steps:
      - checkout
      - node/install:
          node-version: '18'
      - node/install-packages
      - run:
          name: Run Unit Tests
          command: |
            npm run test:unit
  test-integration:
    docker:
      - image: 'cimg/base:current'
    steps:
      - checkout
      - node/install:
          node-version: '18'
      - node/install-packages
      - run:
          name: Run Integration Tests
          command: |
            npm run test:integration
  test-e2e:
    docker:
      - image: 'cimg/base:current'
    steps:
      - checkout
      - node/install:
          node-version: '18'
      - node/install-packages
      - run:
          name: Run E2E Tests
          command: |
            npm run test:e2e
  release:
    docker:
      - image: 'cimg/base:current'
    steps:
      - checkout
      - node/install:
          node-version: '18'
      - node/install-packages
      - vault/get-secrets:
          template-preset: 'semantic-release-ecosystem'
      - run:
          name: Setup npmrc for GitHub Packages
          command: |
            echo "//npm.pkg.github.com/:_authToken=${GITHUB_PACKAGES_WRITE_TOKEN}" > ./.npmrc
            echo "@contentful:registry=https://npm.pkg.github.com" >> ./.npmrc
      - run: npm run semantic-release
workflows:
  test-and-release:
    jobs:
      - check
      - test-unit
      - test-integration
      - test-e2e
      - release:
          context: vault
          requires:
            - check
            - test-unit
            - test-integration
            - test-e2e
          filters:
            branches:
              only:
                - main
                - beta
