version: 2.1

orbs:
  vault: contentful/vault@1
  node: circleci/node@5.1.0

commands:
  install-dependencies:
    steps:
      - restore_cache:
          keys:
            - npm-cache-{{ arch }}-{{ checksum ".nvmrc" }}-{{ checksum "package-lock.json" }}
            - npm-cache
      - vault/get-secrets:
          template-preset: 'packages-read'
      - run: echo "//npm.pkg.github.com/:_authToken=${GITHUB_PACKAGES_READ_TOKEN}" > ~/.npmrc
      - run: echo "@contentful:registry=https://npm.pkg.github.com" >> ~/.npmrc
      - run: npm ci --prefer-offline

jobs:
  check:
    docker:
      - image: cimg/node:18 
    steps:
      - checkout
      - install-dependencies
      - run:
          name: Lint
          command: |
            npm run lint
      - run:
          name: Build
          command: |
            npm run build
      - run:
          name: Check Declaration
          command: |
            npm run test:typescript-declaration
  test-unit:
    docker:
      - image: cimg/node:18 
    steps:
      - checkout
      - install-dependencies
      - run:
          name: Run Unit Tests
          command: |
            npm run test:unit
  test-integration:
    docker:
      - image: cimg/node:18 
    steps:
      - checkout
      - install-dependencies
      - run:
          name: Run Integration Tests
          command: |
            npm run test:integration
  test-e2e:
    docker:
      - image: cimg/node:18 
    steps:
      - checkout
      - install-dependencies
      - run:
          name: Run E2E Tests
          command: |
            npm run test:e2e
  release:
    docker:
      - image: cimg/node:18 
    steps:
      - checkout
      - install-dependencies
      - vault/get-secrets:
          template-preset: 'semantic-release-ecosystem'
      - run: npm run semantic-release

workflows:
  test-and-release:
    jobs:
      - check
      - test-unit
      - test-integration
      - test-e2e
      - release:
          context: vault
          requires:
            - check
            - test-unit
            - test-integration
            - test-e2e
          filters:
            branches:
              only:
                - main
                - beta
                - dx-506-github-packages
